<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>HTML</title>

    <!-- HTML -->

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header class="header">
      <div class="logo-box">
        <a class="logo" href="/">Visitor Management System</a>
      </div>
      <form class="search-box" action="/admin/search" method="POST">
        <input
          type="text"
          class="search-input"
          name="search"
          placeholder="Find any appointment by name"
        />
        <button class="search-btn" type="submit">Search</button>
      </form>
      <a class="profile-link">
        <p class="profile-name">Fatai</p>
        <img class="profile-img" src="/images/profile.jpg" alt="Fatai" />
      </a>

      <a class="logout-btn" href="/admin/login">Login</a>
    </header>
    <section class="sidebar">
      <div class="admin-side">
        <h3 class="dashboard-head">
          appointment
        </h3>
        <div class="links">
          <a class="dashboard-links active" href="/admin/appointment?page=1">
            All
          </a>
          <a class="dashboard-links" href="/admin/appointment?page=1&status=approved">
            Approved
          </a>
          <a class="dashboard-links" href="/admin/appointment?page=1&status=declined">
            Declined
          </a>
          <a class="dashboard-links" href="/admin/appointment?page=1&status=pending">
            Pending
          </a>
        </div>
      </div>
      <div class="main-admin">
        <h3 class="dashboard-head">
          User Management
        </h3>

        <div class="links">
          <a class="dashboard-links" href="#">
            Manage Users
          </a>
          <a class="dashboard-links" href="/admin/create-new-user">
            Create New User
          </a>
        </div>
      </div>

      <p class="copy">
        &copy; Pheity
        <script type="text/javascript" charset="utf-8">
          const date = new Date();
          const year = date.getFullYear();
          document.write(year);
        </script>
      </p>
    </section>
    <section class="content">
      <h5 class="content-head">All Appointment</h5>
      <% if (visitors.length > 0) { %> <% for(i = 0; i < visitors.length ; i++
      ){ %>
      <a
        href="/admin/appointment/<%= visitors[i].id %>"
        class="content-list <%= visitors[i].status %>"
      >
        <h3 class="content-name"><%= visitors[i].name %></h3>
        <p class="days-ago"><%= time[i] %></p>
      </a>

      <% } %> <% } else { %>
      <h3 class="content-name">No Appointment yet</h3>
      <% } %>

      <div class="pagination">
        <a href="#">&laquo;</a>

        
        <% if (all) { %>
            <% for (i = 1; i <= lastPage; i++) { %>
            <a class="<%= currentPage == i ? "active" : '' %>" href="/admin/appointment?page=<%= i %>"><%= i %></a>
            <% } %>
        <% } else { %>
          <% var status = visitors[visitors.length -1].status %>
              <% for (i = 1; i <= lastPage; i++) { %>
              <a class="<%= currentPage == i ? "active" : '' %>" href="/admin/appointment?page=<%= i %>&status=<%= status %>"><%= i %></a>
              <% } %>
        <% } %>


        <a href="#">&laquo;</a>
      </div>
    </section>
    <script src="/main.js"></script>
  </body>
</html>
