<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>HTML</title>

    <!-- HTML -->

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header class="header">
      <div class="logo-box">
        <h2 class="logo">Pheity</h2>
      </div>
      <form class="search-box">
        <input
          type="text"
          class="search-input"
          placeholder="Find any appointment by name"
        />
        <button class="search-btn" type="submit">Search</button>
      </form>
      <a class="profile-link">
        <p class="profile-name">Fatai</p>
        <img class="profile-img" src="/images/profile.jpg" alt="Fatai" />
      </a>

      <a class="logout-btn" href="#">Logout</a>
    </header>
    <section class="sidebar">
      <div class="admin-side">
        <h3 class="dashboard-head">
          appointment
        </h3>
        <div class="links">
          <a class="dashboard-links active" href="/admin/appointment">
            All
          </a>
          <a class="dashboard-links" href="/admin/appointment?status=approved">
            Approved
          </a>
          <a class="dashboard-links" href="/admin/appointment?status=declined">
            Declined
          </a>
          <a class="dashboard-links" href="/admin/appointment?status=pending">
            Pending
          </a>
        </div>
      </div>
      <div class="main-admin">
        <h3 class="dashboard-head">
          User Management
        </h3>

        <div class="links">
          <a class="dashboard-links" href="#">
            Manage Users
          </a>
          <a class="dashboard-links" href="#">
            Create New User
          </a>
        </div>
      </div>

      <p class="copy">
        &copy; Pheity
        <script type="text/javascript" charset="utf-8">
          const date = new Date();
          const year = date.getFullYear();
          document.write(year);
        </script>
      </p>
    </section>
    <section class="content">
      <h5 class="content-head">All Appointment</h5>

      <div class="app-details">
        <div class="details-head">
          <img class="details-img" src="/images/man.jpeg" alt="Fatai" />
          <div class="details-info">
            <h3 class="info-name"><%= visitor.name %></h3>
            <p class="info-phone"><%= visitor.phoneNumber %></p>
            <p class="info-email"><%= visitor.email %></p>
          </div>
        </div>
        <div class="details-body">
          <h4 class="body-head">
            Reason to meet
          </h4>
          <p class="body-para">
            <%= visitor.purpose %>
          </p>
        </div>
      </div>
      <div class="ac-dec">
        <form
          class="accept-form"
          action="/admin/book-appointment"
          method="POST"
          accept-charset="utf-8"
        >
          <input type="date" name="date" placeholder="yyyy-mm-dd" required />
          <input type="time" name="time" placeholder="Time" required />
          <input type="hidden" name="id" value="<%= visitor.id %>" />
          <button class="btn-accept" type="submit">Book</button>
        </form>
        <form action="/admin/decline-appointment" method="POST">
          <input type="hidden" name="id" value="<%= visitor.id %>" />
          <button class="btn-decline" type="submit">Decline</button>
        </form>
      </div>
    </section>
    <!-- Project -->
    <script src="/main.js"></script>
  </body>
</html>
